@model osb.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Welcome to osu! Storyboarder Banquet";
}
<link rel="stylesheet" href="/static/base/sb.css">
<link rel="stylesheet" href="static/base/carousel.css">
<style>
    .log-section {
        overflow-y: scroll;
        height: 22rem;
        scrollbar-width: thin;
        scrollbar-color: #ec407a #F5F5F5;
        margin-bottom: 15px;
    }

    .log-author {
        background: #6438e9;
        padding: 5px;
    }

    .log-section::-webkit-scrollbar-corner {
        background: #F5F5F5;
    }

    .log-section::-webkit-scrollbar-thumb {
        background: #ec407a;
        -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 75%);
    }

    .log-section::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #F5F5F5;
    }
</style>
<header class="opening-banner">
    <h1 class="display opening-header">osu! Storyboarder Banquet</h1>
    <div class="bae-index"></div>
</header>
<!--Placeholder with recent storyboard, or maybe recent storyboard is good enough?-->
<div id="carousel-storyboard" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.recentBeatmaps.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#carousel-storyboard" data-slide-to="@i" class="active"></li>
            }
            else
            {
                <li data-target="#carousel-storyboard" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < Model.recentBeatmaps.Count; i++)
        {
            if (i == 0)
            {
                <div class="carousel-item active">
                    <div class="carousel-overlay">
                        <img class="d-block mx-auto" src="@Model.recentBeatmaps[i].BeatmapCoverURL" alt="@Model.recentBeatmaps[i].BeatmapTitle" style="min-width: 100%;">
                    </div>
                    <div class="carousel-caption">
                        <h3><a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID" style="color:#fff;text-decoration:none;">@Model.recentBeatmaps[i].BeatmapArtist - @Model.recentBeatmaps[i].BeatmapTitle</a></h3>
                        <p>
                            Storyboarded by
                            @if (Model.recentBeatmaps[i].Storyboarders.Count == 1)
                            {
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[0].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[0].Username</a>
                            }
                            else if (Model.recentBeatmaps[i].Storyboarders.Count == 2)
                            {
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[0].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[0].Username</a>
                                <span> and </span>
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[1].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[1].Username</a>
                            }
                            else
                            {
                                @for (int j = 0; j < Model.recentBeatmaps[i].Storyboarders.Count - 2; j++)
                                {
                                    <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[j].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[j].Username</a><span>, </span>
                                }
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].Username</a>
                                <span> and </span>
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].Username</a>
                            }
                        </p>
                        <p><a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID" class="btn btg-lg btn-primary">Go to this map!</a></p>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="carousel-overlay">
                        <img class="d-block mx-auto" src="@Model.recentBeatmaps[i].BeatmapCoverURL" alt="@Model.recentBeatmaps[i].BeatmapTitle" style="min-width: 100%;">
                    </div>
                    <div class="carousel-caption">
                        <h3><a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID" style="color:#fff;text-decoration:none;">@Model.recentBeatmaps[i].BeatmapArtist - @Model.recentBeatmaps[i].BeatmapTitle</a></h3>
                        <p>
                            Storyboarded by
                            @if (Model.recentBeatmaps[i].Storyboarders.Count == 1)
                            {
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[0].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[0].Username</a>
                            }
                            else if (Model.recentBeatmaps[i].Storyboarders.Count == 2)
                            {
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[0].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[0].Username</a>
                                <span> and </span>
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[1].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[1].Username</a>
                            }
                            else
                            {
                                @for (int j = 0; j < Model.recentBeatmaps[i].Storyboarders.Count - 2; j++)
                                {
                                    <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[j].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[j].Username</a><span>, </span>
                                }
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].Username</a>
                                <span> and </span>
                                <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].UserID" target="_blank" style="color:white">@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].Username</a>
                            }
                        </p>
                        <p><a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID" class="btn btg-lg btn-primary">Go to this map!</a></p>
                    </div>
                </div>
            }

        }
    </div>
    <a class="left carousel-control" href="#carousel-storyboard" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-storyboard" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h1 class="col-xs-12 special-banner-1 top-header">Overview</h1>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <p>Welcome to our lovely banquet! Care to dine in and whet your insatiable appetite for visual wizardry on osu!? You can get started by checking out <a href="/showcase">storyboard showcase</a>, or gander at some up on the carousel above or on the YouTube player here. If you're here to learn how to storyboard and program, look no further than our <a href="/learn">learning resources</a>! And if you want to be a part of the storyboarding commmunity, <a href="/community">click here to learn more</a>.</p>
        <p>
            <ul>
                <li>We have a grand total of <strong>@Model.totalStoryboard</strong> storyboards in our showcase!</li>
                <li>We also have <strong>@Model.totalStoryboarder</strong> storyboarders creating these masterpieces.</li>
                <li>
                    The <strong>@Math.Min(5, Model.mediumFrequency.Count)</strong> most popular mediums used to create storyboards are:
                        <ul>
                            @for (int i = 0; i < Math.Min(5, Model.mediumFrequency.Count); i++)
                            {
                                var item = Model.mediumFrequency[i];
                                <li>@item.Key - <strong>@item.Value</strong> Storyboards</li>
                            }
                        </ul>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-xs-12 col-sm-6">
        <p>
            <iframe src="@Model.randomBeatmap.VideoURL" style="min-width: 100%; min-height: 400px; border: 0;"></iframe>
            <small>Now playing <a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.randomBeatmap.BeatmapsetID" target="_blank">@Model.randomBeatmap.BeatmapArtist - @Model.randomBeatmap.BeatmapTitle</a></small>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 ">
        <h3 class="special-banner-sub-1 rounded">Most Recently Added Storyboards</h3>
        @for (int i = 0; i < Model.recentBeatmaps.Count; i++)
        {
            <div class="sb-card card col-xs-12 my-2">
                <div class="bg-inverse sb-card-header bottom-header rounded" style="background-image: url('@Model.recentBeatmaps[i].BeatmapCardURL');">
                    <a class="sb-card-thumb" href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID">
                        <h4 class="card-title sb-card-title">@Model.recentBeatmaps[i].BeatmapArtist - @Model.recentBeatmaps[i].BeatmapTitle</h4>
                        <h6 class="card-subtitle sb-card-title">
                            Storyboarded by
                            @if (Model.recentBeatmaps[i].Storyboarders.Count == 1)
                            {
                                <span>@Model.recentBeatmaps[i].Storyboarders[0].Username</span>
                            }
                            else if (Model.recentBeatmaps[i].Storyboarders.Count == 2)
                            {
                                <span>@Model.recentBeatmaps[i].Storyboarders[0].Username and @Model.recentBeatmaps[i].Storyboarders[1].Username</span>
                            }
                            else
                            {
                                @for (int j = 0; j < Model.recentBeatmaps[i].Storyboarders.Count - 2; j++)
                                {
                                    <span>@Model.recentBeatmaps[i].Storyboarders[j].Username, </span>
                                }
                                <span>@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].Username and @Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].Username</span>
                            }
                        </h6>
                    </a>
                </div>
            </div>
        }
    </div>

    <div class="col-xs-12 col-sm-6">
        <h3 class="special-banner-sub-1 rounded">Updates</h3>
        <div class="log-section">
            <h5 class="log-author">2022/01/21 - Mamat</h5>
            <p>
                I'm back with an update! So I'm currently developing learn page. The page content itself will be based on markdown files so you can contribute to this project easier :D . You can check the preview on <a href="/learn">this link</a>.
            </p>
            <h5 class="log-author">2022/01/11 - Mamat</h5>
            <p>
                Now we have custom domain, storyboarder.xyz :D. I also have added several new showcased storyboards, go on check it out! it's on your left side and I've implemented video preview so you can feel and enjoy how awesome their storyboards are!
            </p>
            <h5 class="log-author">2021/12/30 - Mamat</h5>
            <p>
                WOOOOOOOOOO!!! I finally finish inputting all community members one by one. You can check it by yourself on <a href="/community">Community Page</a>.
            </p>
            <h5 class="log-author">2021/12/26 - Mamat</h5>
            <p>
                Yes new updates! I've implemented storyboarder page and thanks to Coppertine again for the design suggestion. I also have changed all existing storyboarder URL to the page.
            </p>
            <p>
                But, I underestimated the tedious task of inputting Storyboarder manually with SQL, huft. So I've come up with "solution" to reduce that. First I generate the storyboarder and the map in existing DummyHelper class so the you can see the map instantly with web page updated regularly. Then after I come up with user authentication and CRUD page for adding beatmap and storyboarder, I will create stored procedures to insert the beatmap and storyboarder to database.
            </p>
            <h5 class="log-author">2021/12/25 - Mamat</h5>
            <p>Merry Christmas everyone! On this holiday we get very special present from osu! <a href="https://osu.ppy.sh/beatmaps/artists/727">xi</a> has become Featured Artist and we also come up with list of existing storyboarded xi's map.</p>
            <p>
                Check out these maps:
                <ul>
                    <li>
                        <a href="https://osu.ppy.sh/beatmapsets/292301">xi - Blue Zenith by RLC</a>
                    </li>
                    <li>
                        <a href="https://osu.ppy.sh/beatmapsets/324288">xi - ANiMA by Kuo Kyoka</a>
                    </li>
                    <li>
                        <a href="https://osu.ppy.sh/beatmapsets/968656">xi - Ascension to Heaven by -Tynamo</a>
                    </li>
                    <li>
                        <a href="https://osu.ppy.sh/beatmapsets/1301360">xi - Ascension to Heaven by Kryotz and TheDuckMask</a>
                    </li>
                    <li>
                        <a href="https://osu.ppy.sh/beatmapsets/409681">xi - Happy End of The World by Kryotz</a>
                    </li>
                </ul>
            </p>
            <h5 class="log-author">2021/12/23 - Mamat</h5>
            <p>I have implemented database access to get all community member, it was a huge success! It took me several try tho hahaha. I will finish entrying community member from discord at the next update.</p>
            <h5 class="log-author">2021/12/18 - Mamat</h5>
            <p>This is updated website from <a href="https://osb.moe/" target="_blank">osb.moe</a>. I pulled it from the original repo and rewrite it using ASP.NET Core framework. I think I will add more showcase maps and I have been working on paging in showcase list</p>
            <p>I have added community and showcase page with dummy data. Thanks to Coppertine for the design feedback.</p>
            <p>You can check specific updates by visiting <a href="https://github.com/ZeroPyrozen/osb" target="_blank">current GitHub repo.</a></p>
            <h5 class="log-author">2016/12/31 - Starrodkirby86</h5>
            <p>Bam! I think we have a site going now. BetaStar and I have been working pretty tirelessly getting storyboards, screenshots, and contents populated on this website. We definitely did our darnedest to bring you a really cool webfront to not only check out amazing storyboard visual arts in osu!, but also to perhaps learn how to storyboard and get better at programming.</p>
            <p>You can check specific updates by visiting <a href="https://github.com/osb-group/osb.moe/" target="_blank">the GitHub repo</a>, if you'd like. Otherwise, just make yourself at home and enjoy yourself. Or Hifumi. Or whatever, really.</p>
            <p>We now have a dedicated roadmap page! <a href="https://osb.moe/roadmap/">Here you go.</a></p>
        </div>
    </div>
</div>
