<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        @ViewData["Title"]
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/base/img/favicon.ico">
    <link rel="stylesheet" href="~/cssV2/style.css">
    <link rel="stylesheet" href="~/cssV2/style_resize.css">
    <link rel="stylesheet" href="~/cssV2/beatmap.css">
    <link rel="stylesheet" href="~/cssV2/osb_player.css">
    @* <link rel="stylesheet" href="~/cssV2/update.css"> *@
</head>


<body>
<div class="player_position_top_center">
    <div class="player_container">
        <div class="play_and_current_time">
            <button class="play_button">
                <img class="play_arrow_icon" src="/staticV2/svg/play_arrow.svg"/>
            </button>
            <div class="timer">
                <span id="current_time">0:00</span>
                <span class="separator">/</span>
                <span class="total_time">0:10</span>
            </div>
        </div>
        <input type="range" class="time_slider" min="0" max="10000" value="0"/>
    </div>
    <div class="volume_control">
        <div class="volume_down_icon">
            <img class="vector_icon" src="~/staticV2/svg/volume_down.svg" alt=""/>
            <span class="volume_percentage">100%</span>
        </div>
        <input type="range" class="volume_slider" min="0" max="100" value="100"/>
    </div>
</div>
<nav class="nav-border">
    <div class="container-bar-style">
        <a href="@Url.ActionLink("Home", "Future", new { code = "WYSI" })">
            <img src="~/staticV2/svg/osb.svg" alt="">
        </a>
        <div class="container-nav-button">
            <button onclick="window.location.href = '@Url.ActionLink("Showcase", "Future", new { code = "WYSI" })';" class="nav-button">Showcase</button>
            <button onclick="window.location.href = '@Url.ActionLink("Learn", "Future", new { code = "WYSI" })';" class="nav-button">Laboratory</button>
            <button onclick="window.location.href = '@Url.ActionLink("Community", "Future", new { code = "WYSI" })';" class="nav-button">Community</button>
        </div>
        @if (ViewData["Login"] != null)
        {
            string ID = ViewData["UserID"].ToString();
            <div class="profile-conatiner">
                <button id="dropdownButton" class="avatar-user-auth" href="/community/profile?userID=@ID">
                    <img src="~/staticV2/svg/chevron-down.svg" alt="">
                    <div class="user-name-auth" id="navbarDropdown" role="button">
                        @ViewData["Username"].ToString()
                    </div>
                    <img class="avatar-img" src="https://a.ppy.sh/@ID"
                         alt="..." height="56">
                </button>
                <div id="dropdownMenu" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/community/profile?userID=@ID">Profile</a>
                    <a class="dropdown-item" href="/auth/logout">Log Out</a>
                </div>
            </div>
            <script src="~/jsV2/userDropdownDashboard.js"></script>
        }
        else
        {
            <div class="auth-container">
                <button onclick="window.location.href = '/auth';" class="button-osb">Login</button>
            </div>
        }
    </div>
</nav>
<main class="center-body">
    <div class="body-limit">
        @RenderBody()
    </div>
</main>
<footer class="footer-border">
    <div class="container-footer-bar-style">
        <div class="osb-promo-container">
            <img src="~/staticV2/svg/osb-salad.svg" alt="">
            <div class="promo">Unleash Your Visual Storytelling Talent.</div>
        </div>
        <div class="social-container">
            <button id="helpTranslate" class="footer-button">
                <img src="~/staticV2/svg/language.svg" alt="">
                Help Translate
            </button>
            <button id="changeLang" class="footer-button">
                <img src="~/staticV2/svg/language.svg" alt="">
                Language
                <img id="arrowLang" src="~/staticV2/svg/arrow-top.svg" alt="">
            </button>
            <button id="discord" class="footer-button">
                <img src="~/staticV2/svg/discord.svg" alt="">
                Discord
            </button>
            <div id="langShow" class="change-language">
                <button><img src="~/staticV2/svg/flags/GB.svg" alt="">English</button>
                <button><img src="~/staticV2/svg/flags/RU.svg" alt="">Русский</button>
                <button><img src="~/staticV2/svg/flags/JP.svg" alt="">日本語</button>
                <button><img src="~/staticV2/svg/flags/ID.svg" alt="">Indonesia</button>
            </div>
        </div>
    </div>
</footer>
</body>
</html>

<script src="~/jsV2/language.js"></script>
<script src="~/jsV2/beatmap.js"></script>
<script src="~/jsV2/osb_player.js"></script>