@model osb.ViewModels.CommunityViewModel
@{
    ViewData["Title"] = "osb! Community Page";
    Layout = "~/Views/Future/_Layout.cshtml";
}

<main>
    <h1>osb! Community Page</h1>
    <div class="card-deck mx-auto" style="justify-content:center">
        @{
            int rowCount = Model.storyboarders.Count / 5;
            if (Model.storyboarders.Count % 5 != 0)
                rowCount += 1;
            int iterator = 0;
        }
        @for (int i = 0; i < rowCount; i++)
        {
            <div class="row">
                @for (int j = 0; j < 5 && iterator < Model.storyboarders.Count; j++)
                {
                    var storyBoarder = Model.storyboarders[iterator];
                    var primaryRole = storyBoarder.GetPrimaryRole();
                    <a href="/community/profile?userID=@storyBoarder.UserID" style="text-decoration:none" target="_blank">
                        <div style="height: 600px" class="card" style="width: 10rem;margin: 20px;">
                            <span class="card-img-top" style="display: block; background-size:contain;width: 158px;height: 158px;background-image: url('@Model.storyboarders[iterator].UserAvatarUrl');background-repeat: no-repeat;background-position: 50%;background-color: black;"/>
                            <span class="card-img-top" style="display: block; background-size:contain;width: 158px;height: 158px;background-image: url('@Model.storyboarders[iterator].UserCoverUrl');background-repeat: no-repeat;background-position: 50%;background-color: black;"/>
                            <div class="card-body" style="max-height: 50%; overflow: hidden; padding: 10px; background-color: #36393f">
                                <p class="card-text" style="text-align: center;">@storyBoarder.Username</p>
                                @if (primaryRole is not null)
                                {
                                    <p class="card-text" style="text-align: center;color: @primaryRole.RoleHexColour">@primaryRole.RoleName</p>
                                }
                                @{
                                    var country = storyBoarder.Country;
                                    <p class="card-text" style="text-align: center;color: @(@primaryRole?.RoleHexColour ?? "#fff")">@country.Name</p>
                                    <img src="staticV2/flags/@(country.Code).svg"/>
                                }
                            </div>
                        </div>
                    </a>
                    iterator++;
                }
            </div>
        }
    </div>
</main>