@model osb.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "osb! Dashboard";
    ViewData["PageName"] = "Dashboard";
    Layout = "~/Views/Future/_Layout.cshtml";
}

<link rel="stylesheet" href="~/cssV2/home/home.css">
<link rel="stylesheet" href="~/cssV2/home/home_resize.css">

<main>
    <div class="home">
        <div class="left-dashboard">
            <div class="thumbnails-block">
                <div class="D3">Dashboard</div>
                <div class="D2">Most Recently Added Storyboards</div>
                <div class="thumbnails-container">
                    <div class="small-thumbnails">
                        @for (int i = 0; i < Model.recentBeatmaps.Count; i++)
                        {
                            <div class="dot" onclick="currSlide('@(i + 1)')">
                                <div class="image-small"
                                     style="background: url(@Model.recentBeatmaps[i].BeatmapFullsizeURL) no-repeat; background-position: 50% 50%; background-size: cover; overflow: hidden;">
                                </div>
                            </div>
                        }
                    </div>
                    <div class="thumbnails">
                        @for (int i = 0; i < Model.recentBeatmaps.Count; i++)
                        {
                            <div class="slide-container">
                                <div class="thumbnails-info">
                                    <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].UserID"
                                       class="thumbnails-storyboard-by">
                                        <img class="thumbnails-avatar" src="@Model.recentBeatmaps[i].Storyboarders[0].UserAvatarUrl"
                                             alt="">
                                    </a>
                                    <div class="container-storyboard-info">
                                        <a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.recentBeatmaps[i].BeatmapsetID"
                                           class="thumbnails-simple-artist">
                                            @Model.recentBeatmaps[i].BeatmapArtist - @Model.recentBeatmaps[i].BeatmapTitle
                                        </a>
                                        <a href="@Model.baseURL/community/profile?userID=@Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].UserID"
                                           class="thumbnails-storyboard-by">
                                            By
                                            @if (Model.recentBeatmaps[i].Storyboarders.Count == 1)
                                            {
                                                <span>@Model.recentBeatmaps[i].Storyboarders[0].Username</span>
                                            }
                                            else if (Model.recentBeatmaps[i].Storyboarders.Count == 2)
                                            {
                                                <span>
                                                    @Model.recentBeatmaps[i].Storyboarders[0].Username and
                                                    @Model.recentBeatmaps[i].Storyboarders[1].Username
                                                </span>
                                            }
                                            else
                                            {
                                                @for (int j = 0; j < Model.recentBeatmaps[i].Storyboarders.Count - 2; j++)
                                                {
                                                    <span>@Model.recentBeatmaps[i].Storyboarders[j].Username, </span>
                                                }
                                                <span>
                                                    @Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 2].Username and
                                                    @Model.recentBeatmaps[i].Storyboarders[Model.recentBeatmaps[i].Storyboarders.Count - 1].Username
                                                </span>
                                            }
                                        </a>
                                    </div>
                                </div>
                                <div class="thumbnails">
                                    <div class="thumbnails-slide"
                                         style="background: linear-gradient(180deg, rgb(0 0 0 / 69%) 0%, rgb(0 0 0 / 55%) 13.54%, rgb(0 0 0 / 0%) 48.96%), url('@Model.recentBeatmaps[i].BeatmapFullsizeURL') no-repeat; background-position: 50% 50%; background-size: cover; overflow: hidden; height: 100%;">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="popular-maps-block">
                <div class="D2">
                    Popular storyboards
                </div>
                <div class="popular-maps-grid">
                    @for (int i = 0; i < Model.popularBeatmaps.Count; i++)
                    {
                        var currentBeatmap = Model.popularBeatmaps[i];
                        <div class="beatmap">
                            <div class="beatmap-event-player">
                                <button id="preview" data-preview="@currentBeatmap.BeatmapsetID" class="event-button" href="http://">
                                    <img class="player-svg" src="~/staticV2/svg/play_arrow.svg" alt="">
                                </button>
                            </div>
                            <div class="beatmap-info">
                                <a href="@Model.baseURL/community/profile?userID=@currentBeatmap.Storyboarders[0].UserID"
                                   class="beatmap-storyboard-by">
                                    <img class="storyboarder-avatar" src="@currentBeatmap.Storyboarders[0].UserAvatarUrl"
                                         alt="">
                                </a>
                                <div class="container-storyboard-info">
                                    <a class="beatmap-metadata"
                                       href="@Model.baseURL/future/detail?beatmapsetID=@currentBeatmap.BeatmapsetID">
                                        @currentBeatmap.BeatmapArtist
                                        - @currentBeatmap.BeatmapTitle
                                    </a>
                                    <a href="@Model.baseURL/future/detail?beatmapsetID=@currentBeatmap.BeatmapsetID"
                                       class="storyboards-storyboard-by">
                                        By
                                        @if (currentBeatmap.Storyboarders.Count == 1)
                                        {
                                            <span>@currentBeatmap.Storyboarders[0].Username</span>
                                        }
                                        else if (currentBeatmap.Storyboarders.Count == 2)
                                        {
                                            <span>
                                                @currentBeatmap.Storyboarders[0].Username and
                                                @currentBeatmap.Storyboarders[1].Username
                                            </span>
                                        }
                                        else
                                        {
                                            @for (int j = 0; j < currentBeatmap.Storyboarders.Count - 2; j++)
                                            {
                                                <span>@currentBeatmap.Storyboarders[j].Username, </span>
                                            }
                                            <span>
                                                @currentBeatmap.Storyboarders[currentBeatmap.Storyboarders.Count - 2].Username and
                                                @currentBeatmap.Storyboarders[currentBeatmap.Storyboarders.Count - 1].Username
                                            </span>
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="beatmap-background"
                                 style="background: linear-gradient(180deg, rgb(35 41 39 / 5%) 0%, rgb(35 41 39 / 35%) 100%), url('@currentBeatmap.BeatmapFullsizeURL') no-repeat; background-position: 50% 50%;background-size: cover;overflow: hidden;">
                            </div>
                        </div>
                    }
                    <div class="beatmap">
                        <div style="position: absolute; background: linear-gradient(180deg, rgb(35 41 39 / 5%) 0%, rgb(35 41 39 / 35%) 100%), url(@Model.randomBeatmap.BeatmapCoverURL) no-repeat; background-position: 50% 50%; background-size: cover; overflow: hidden; width: 100%; height: 100%;"></div>
                        <a href="@Url.ActionLink("Showcase", "Future", new { code = "WYSI" })" class="center-button-showcase">
                            Showcase <img src="~/staticV2/svg/open_in_new.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-dashboard">
            <div class="overview-container">
                <div class="D3">Overview</div>
                <iframe class="video-yt" src="@Model.randomBeatmap.VideoURL" style="border: 0; outline: 1px solid #686868; border-radius: 12px;"></iframe>
                @* <small>Now playing <a href="@Model.baseURL/showcase/detail?beatmapsetID=@Model.randomBeatmap.BeatmapsetID" target="_blank">@Model.randomBeatmap.BeatmapArtist - @Model.randomBeatmap.BeatmapTitle</a></small> *@
            </div>
            <div class="banquet">
                <p>Welcome to our lovely banquet! Care to dine in and whet your insatiable appetite for visual wizardry on osu!? You can get started by checking out <a href="/showcase">storyboard showcase</a>, or gander at some up on the carousel above or on the YouTube player here. If you're here to learn how to storyboard and program, look no further than our <a href="/learn">learning resources</a>! And if you want to be a part of the storyboarding commmunity, <a href="/community">click here to learn more</a>.</p>
                <ul>
                    <li>We have a grand total of <strong>@Model.totalStoryboard</strong> storyboards in our showcase!</li>
                    <li>We also have <strong>@Model.totalStoryboarder</strong> storyboarders creating these masterpieces.</li>
                    <li>
                        The <strong>@Math.Min(5, Model.mediumFrequency.Count)</strong> most popular mediums used to create storyboards are:
                        <ul>
                            @for (int i = 0; i < Math.Min(5, Model.mediumFrequency.Count); i++)
                            {
                                var item = Model.mediumFrequency[i];
                                <li>@item.Key - <strong>@item.Value</strong> Storyboards</li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>


<script src="~/jsV2/script.js"></script>
<script src="~/jsV2/carousel_slide.js"></script>