@model osb.ViewModels.ShowcaseViewModel
@{
    ViewData["Title"] = "Storyboards";
}
<link rel="stylesheet" href="/static/base/sb.css">
<link rel="stylesheet" href="/static/base/showcase/showcase.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<header class="opening-banner" style="background-image: url('@Model.beatmapDetail.BeatmapCoverURL');"></header>
<div class="container">
    <div class="row">
        <div class="col" style="padding: 0;">
            <div class="showcase-title">@Model.beatmapDetail.BeatmapArtist - @Model.beatmapDetail.BeatmapTitle</div>
            <div class="showcase-body-container">
                <div class="showcase-subtitle" style="background: #262d35;">Info</div>
                <div class="row" style="background: #262d35;margin: 0px;">
                    <div class="col-xs-12 col-sm-2">
                        <div class="showcase-rating-box" style="background: #262d35;">
                            <ul class="list-unstyled">
                                <li style="">
                                    OSB Level
                                </li>
                                <li>
                                    @Model.beatmapDetail.GetStoryboardRating().ToString()
                                </li>
                                <li class="showcase-rating-icon-box mx-auto">
                                    <div class="showcase-rating-icon-rotate">
                                        <img class="img-fluid showcase-rating-icon-pop" src="/static/showcase/hifumi.png" width="50">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2" style="padding: 0;margin: auto;">
                        @for (int i = 0; i < Model.beatmapDetail.Storyboarders.Count; i++)
                        {
                            <img class="img-fluid slides mx-auto" src="https://a.ppy.sh/@Model.beatmapDetail.Storyboarders[i].UserID" style="max-height: 100px; padding-left:20px">
                        }
                    </div>
                    <div class="col-xs-5 col-sm-4">
                        <div class="showcase-body-subtitle">Storyboarded by</div>
                        <div class="showcase-body-text">
                            <ul class="list-unstyled">
                                @for (int i = 0; i < Model.beatmapDetail.Storyboarders.Count; i++)
                                {
                                    string profileURL = Model.baseURL + "/community/profile?userID=" + Model.beatmapDetail.Storyboarders[i].UserID;
                                    <li>
                                        <a href="@profileURL">@Model.beatmapDetail.Storyboarders[i].Username</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-4">
                        <div class="showcase-body-subtitle">Metadata</div>
                        <div class="showcase-body-text">
                            <ul class="list-unstyled">
                                <li>
                                    Hosted by <a href="@Model.beatmapDetail.BeatmapsetHost.UserProfileUrl">@Model.beatmapDetail.BeatmapsetHost.Username</a>
                                </li>
                                <li>
                                    Developed via @Model.beatmapDetail.Medium
                                </li>
                                <li>
                                    Submitted on @Model.beatmapDetail.SubmitDate.ToString("dd MMMM yyyy")
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="showcase-subtitle">Tags</div>
                @for (int i = 0; i < Model.beatmapDetail.StoryboardTags.Count; i++)
                {
                    string searchURL = Model.baseURL + "/showcase/search?t=" + Model.beatmapDetail.StoryboardTags[i].EscapedTagName;
                    string iconURL = "/static/showcase/showcase-icons-exportable.svg#" + Model.beatmapDetail.StoryboardTags[i].EscapedTagName;
                    <a href="@searchURL" data-toggle="tooltip" data-placement="top" title="@Model.beatmapDetail.StoryboardTags[i].TagName">
                        <img src="@iconURL" alt="@Model.beatmapDetail.StoryboardTags[i].TagName" width="48" height="48">
                    </a>
                }
                <a href="https://osu.ppy.sh/beatmapsets/@Model.beatmapDetail.BeatmapsetID/" style="text-decoration: none;"><div class="showcase-button-set">View Beatmap Page</div></a>
                <a href="osu://s/@Model.beatmapDetail.BeatmapsetID" style="text-decoration: none;"><div class="showcase-button-download">Download This Beatmap</div></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    $('div.container.bg-dark').addClass('pb-3');
    var slideIndex = 0;
    function carousel() {
        var i;
        var x = document.getElementsByClassName("slides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex += 1;
        if (slideIndex > x.length) { slideIndex = 1; }
        x[slideIndex - 1].style.display = "block";
        setTimeout(carousel, 10000);
    }
    carousel();
</script>



