@model osb.ViewModels.ShowcaseViewModel
@{
    ViewData["Title"] = "Storyboards";
}
<link rel="stylesheet" href="/static/base/sb.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.3.0/font-mfizz.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<style>
    #text-search {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #btn-search {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .media {
        background-color: #22282a;
    }
</style>
<header class="opening-banner-sb">
    <h1 class="display opening-header">Storyboard Showcase</h1>
    <div class="bae-sb"></div>
</header>

<h1 class="special-banner-sub-2 top-header">Search</h1>

<form action="/showcase/search" method="get">
    <div class="form-group" style="margin:2em 0 1em; display: flex;">
        <input class="form-control form-control-lg" placeholder="type in keywords..." id="text-search" type="text" name="s" value="@Model.searchQuery">
        <input class="btn btn-primary btn-lg" id="btn-search" type="submit" value="Search">
    </div>
    <!--Disable this for now, I will readd this after I finish the tag search-->
    @*<div class="form-check form-check-inline">
        <input class="form-check-input form-control-lg" type="checkbox" name="f" placeholder="off">
        <label class="form-check-label">Featured Storyboard</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input form-control-lg" type="checkbox" name="c" placeholder="off">
        <label class="form-check-label">Classic Storyboard</label>
    </div>*@
</form>
@if (Model.beatmaps.Count > 0)
{
    <div class="card-group" style="justify-content:center">
        <div class="row mb-4">
            @for (int i = 0; i < Model.beatmaps.Count; i++)
            {
                var currentBeatmap = Model.beatmaps[i];
                string toolIcon = "";
                <div class="col-xs-12 col-sm-6 my-2">
                    <div class="sb-card card">
                        <div class="bg-inverse sb-card-header bottom-header" style="background-image: url('@currentBeatmap.BeatmapCardURL');">
                            <a class="sb-card-thumb" href="@Model.baseURL/showcase/detail?beatmapsetID=@currentBeatmap.BeatmapsetID" style="text-decoration:none" target="_blank">
                                <h4 class="card-title sb-card-title">@currentBeatmap.BeatmapTitle</h4>
                                <h6 class="card-subtitle sb-card-title">@currentBeatmap.BeatmapArtist</h6>
                            </a>
                        </div>
                        <div class="media">
                            <a class="media-left media-middle" href="@Model.baseURL/showcase/detail?beatmapsetID=@currentBeatmap.BeatmapsetID" style="text-decoration:none" target="_blank">
                                <img class="media-object sb-card-image" src="@currentBeatmap.BeatmapListURL" alt="@currentBeatmap.BeatmapTitle">
                            </a>
                            <div class="media-body text-white m-3">
                                <p class="card-text media-heading">
                                    Storyboarded by
                                    <!--TODO: Change the link to Storyboarder page-->
                                    @if (currentBeatmap.Storyboarders.Count == 1)
                                    {
                                        <a href="@currentBeatmap.Storyboarders[0].UserProfileUrl" target="_blank">@currentBeatmap.Storyboarders[0].Username</a>
                                    }
                                    else if (currentBeatmap.Storyboarders.Count == 2)
                                    {
                                        <a href="@currentBeatmap.Storyboarders[0].UserProfileUrl" target="_blank">@currentBeatmap.Storyboarders[0].Username</a>
                                        <span> and </span>
                                        <a href="@currentBeatmap.Storyboarders[1].UserProfileUrl" target="_blank">@currentBeatmap.Storyboarders[1].Username</a>
                                    }
                                    else
                                    {
                                        @for (int j = 0; j < currentBeatmap.Storyboarders.Count - 1; j++)
                                        {
                                            <a href="@currentBeatmap.Storyboarders[j].UserProfileUrl" target="_blank">@currentBeatmap.Storyboarders[j].Username</a><span>, </span>
                                        }
                                        <span> and </span>
                                        <a href="@currentBeatmap.Storyboarders[currentBeatmap.Storyboarders.Count - 1].UserProfileUrl" target="_blank">@currentBeatmap.Storyboarders[currentBeatmap.Storyboarders.Count - 1].Username</a>
                                    }
                                    <br>Hosted by <a href="@currentBeatmap.BeatmapsetHost.UserProfileUrl" target="_blank">@currentBeatmap.BeatmapsetHost.Username</a>
                                </p>
                                <div class="sb-card-icons">
                                    @switch (currentBeatmap.Medium)
                                    {
                                        case "Storybrew":
                                        case "Java":
                                            toolIcon = "fa fa-coffee";
                                            break;
                                        case "osu!SGL":
                                            toolIcon = "fa fa-file-code-o";
                                            break;
                                        case "C":
                                            toolIcon = "icon-c";
                                            break;
                                        case "C++":
                                            toolIcon = "icon-cplusplus";
                                            break;
                                        case "Scripting":
                                            toolIcon = "fa fa-file-text-o";
                                            break;
                                        case "C#":
                                            toolIcon = "icon-csharp";
                                            break;
                                        case "Design Editor":
                                            toolIcon = "fa icon-osu-cookie";
                                            break;
                                        case "Python":
                                            toolIcon = "icon-python";
                                            break;
                                        case "Other":
                                            toolIcon = "fa fa-question-circle";
                                            break;
                                    }
                                    <span class="tag tag-pill tag-default" data-toggle="tooltip" title="@currentBeatmap.Medium"><i class="@toolIcon" aria-hidden="true"></i></span>
                                    <a href="https://osu.ppy.sh/beatmapsets/@currentBeatmap.BeatmapsetID/" target="_blank"><i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true" data-toggle="tooltip" title="View Beatmap Page"></i></a>
                                    <a href="osu://s/@currentBeatmap.BeatmapsetID" data-toggle="tooltip" title="Open in osu!direct"><i class="fa fa-download fa-fw fa-lg" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.0.0/ekko-lightbox.js"></script>
    <script src="/static/showcase/add-lightbox.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
        window.addEventListener('resize', function () {
            var currentContainerWidth = $('.container').css('max-width').replace('px', '');
            if (currentContainerWidth > 720) {
                $('.sb-card').css('width', $('.container').css('max-width').replace('px', '') / 2 - 40 + 'px');
                $('.col-xs-12').addClass('col-sm-6');
                $('.col-xs-12').removeClass('col-sm-12');
            }
            else {
                $('.sb-card').css('width', '100%');
                $('.col-xs-12').addClass('col-sm-12');
                $('.col-xs-12').removeClass('col-sm-6');
            }
            
        });
        window.dispatchEvent(new Event('resize'));
    </script>
}
else
{
    <div class="showcase-empty">
        <img src="/static/base/img/hifumi_notfound.png" alt="no results" data-orig-title="no results" data-hasqtip="0" aria-describedby="qtip-0" style="transform: scaleX(-1);">
        I'm sorry, I can't find anything.
    </div>
}



